<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>URL SHRINKAGE</h1>

    <form action="/shortUrls" method="post">
      <!-- <label for="fullUrl">Url</label> -->
      <input type="url" name="url" id="fullUrl" placeholder="url" required />
      <button type="submit">Shrink</button>
    </form>

    <table>
      <thead>
        <tr>
          <td>Full Url</td>
          <td>Short Url</td>
          <td>Clicks</td>
        </tr>
      </thead>
      <tbody>
        <% shorturls.forEach(shorturl => { %>
        <tr>
          <td><a href="<%= shorturl.full%>"><%= shorturl.full%></a></td>
          <td><a href="<%= shorturl.short%>"><%= shorturl.short%></a></td>
          <td><%= shorturl.clicks%></td>
        </tr>

        <%})%>
      </tbody>
    </table>
  </body>
</html>